
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}
header nav{
    display: flex;
    justify-content: center;
}
header .link{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
